<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mass_utility</name>
    <displayName><![CDATA[Mass Utility]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Enterprise-grade utility suite featuring a Native Safety Governor, AST Database Mutations, Chunked Backups, and Modular Maintenance Sweepers.]]></description>
    <author><![CDATA[Calin Mois]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>