parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - public/index.php
    excludePaths:
        - .sandbox/*
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to function is_array\(\) with array will always evaluate to true\.#'
